{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">
    <link href="{% static 'extrato/css/view_extrato.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}
    <br>
    <br>
    <div class='container'>
        <form action="{% url 'definir_mensais' %}" method="GET">{% csrf_token %}
        <div class="row">

            <div class="col-md">
                <label>Conta</label>
                <select name="conta" class="form-select">
                    <option value="">Todos</option>
                    {% for conta in contas %}
                        <option value="{{conta.id}}">{{conta}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md">
                <label>Categoria</label>
                <select name="categoria" class="form-select">
                    <option value="">Todos</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md">
                <label>Período</label>
                <select name="periodo" class="form-select">
                    <option value="">Todos</option>
                    <option value="7">Últimos 7 dias</option>
                    <option value="15">Últimos 15 dias</option>
                    <option value="30">Últimos 30 dias</option>
                </select>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <input style="width: 100%" type="submit" class="botao-principal" value="Filtrar">
            </div>
        </form>
        </div>
        <br>
        <br>


        <div class="card">

                <table>
                    <tr>
                        <th>Conta</th>
                        <th>Categoria</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>valor</th>

                    </tr>
                    {% for valor in valores %}
                        <tr class="linha">
                            <td><img src="{{valor.conta.icone.url}}" style="max-width: 50px; height: auto"> </td>
                            <td>{{ valor.categoria }}</td>
                            <td>{{ valor.data }}</td>
                            <td>
                            {% if valor.tipo == 'S'%}
                                <img src="{% static 'perfil/img/saidas.png' %}">
                            {% else %}
                                <img src="{% static 'perfil/img/entradas.png' %}">
                            {% endif %}

                            </td>
                            <td>R$ {{valor.valor}}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
        <br>
        <div class="card">
                <table>
                    <tr>
                        <th>#</th>
                    </tr>
                    <tr class="linha">
                        <td>Saldos Ganhos</td>
                    </tr>
                    <tr class="linha">
                        <td>Saldos Gastos</td>
                    </tr>
                </table>
        </div>
    </div>
{% endblock %}
