{% extends 'bases/base.html' %}
{% load static %}


{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">

{% endblock %}


{% block 'titulo' %}Cadastre-se{% endblock %}

{% block 'body' %}
<div class="container-fluid d-flex justify-content-center md-10">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="row">
                    <h2 class="fonte-destaque">Login</h2>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <br>
                    <br>
                    <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                        <p class="login-box-msg">Faça login para iniciar sua sessão</p>
                        <input name="username" class="form-control rounded" type="text" placeholder="Nome">
                        <br>
                        <input name="senha" class="form-control rounded" type="password" placeholder="Senha">
                        <br>
                        <input class="botao-principal" type="submit" value="Entrar">
                        <br><br>
                        <a href="{% url 'cadastro' %}" class="botao-principal" type="submit">Cadastrar-se</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}