{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
<link href="{% static 'autenticacao/css/welcome.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      {% if user.is_authenticated %}

      {% else %}
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="btn btn-lg btn-light fw-bold border-white bg-white" href="{% url 'login' %}">Login</a>&nbsp
          <a class="btn btn-lg btn-light fw-bold border-white bg-white" href="{% url 'cadastro' %}">Cadastrar-se</a>
        </nav>
      {% endif %}
    </div>
  </header>

  <main class="px-3">
    <h1>FINAN.CE</h1>
    <p class="lead">Sejam bem-vindos ao maior site de finanças. Aqui preparamos para você ferramentas de controle financeiro.</p>
  </main>

  <footer class="mt-auto text-white-50 text-center">
    <p>Desenvolvido por <a href="https://github.com/igoralexandria" class="text-white">Igor Alexandria</a>.</p>
  </footer>
</div>

{% endblock %}
